@{
    ViewData["Title"] = "Carrinho";
}
@model PerfumesLeo.Models.ViewModels.CarrinhoViewModel

<h3>Meu Carrinho</h3>

@using (Html.BeginForm("Carrinho", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
}

<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            @Html.ActionLink("Adicionar Produtos", "Index", "Home", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Preencher Cadastro", "Cadastro", "Home", null, new { @class = "btn btn-primary" })

        </div>
    </div>
</div>
<br />
<div class="panel panel-default">
    <div class="panel-heading">

        <div class="row">
            <div class="col-md-6">
                Item
            </div>
            <div class="col-md-2 text-center">
                Preço Unitário
            </div>
            <div class="col-md-2 text-center">
                Quantidade
            </div>
            <div class="col-md-2">
                <span class="pull-right">
                    Subtotal
                </span>
            </div>
        </div>
    </div>
    <div class="panel-body">

        @foreach (var item in Model.Itens)
        {
            <div class="row row-center linha-produto" item-id="@item.IdItem">
                <div class="col-md-3">
                    <img class="img-produto-carrinho" src="/images/produtos/large_@(item.produto.IdPrduto).jpg" />
                </div>
                <div class="col-md-3">@(item.produto.Nome)</div>
                <div class="col-md-2 text-center">R$ @(item.PrecoUnitario)</div>
                <div class="col-md-2 text-center">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default"
                                    onclick="clickDecremento(this)">
                                <span class="glyphicon-minus"></span>
                            </button>
                        </span>
                        <input type="text" value="@(item.Quantidade)"
                               class="form-control text-center"
                               onblur="updateQuantidade(this)" />
                        <span class="input-group-btn">
                            <button class="btn btn-default"
                                    onclick="clickIncremento(this)">
                                <span class="glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    R$ <span class="pull-right" subtotal>
                        @(item.Quantidade * item.PrecoUnitario)
                    </span>
                </div>
            </div>

        }

    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-10">
                <span class="numero-itens">
                    Total: @(Model.Itens.Count())
                    itens
                </span>
            </div>
            <div class="col-md-2">
                Total: R$ <span class="pull-right" total>
                    @(Model.Total)
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            @Html.ActionLink("Adicionar Produtos", "Index", "Home", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Preencher Cadastro", "Cadastro", "Home", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>

@section Scripts
{    
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">

       function clickIncremento(button) {
            let data = getData(button);
            data.Quantidade++;
            postQuantidade(data);
        }

       function clickDecremento(button) {
            let data = getData(button);
            data.Quantidade--;
            postQuantidade(data);
        }

       function updateQuantidade(input) {
            let data = getData(input);
            postQuantidade(data);
        }

       function getData(elemento) {
            var linhaDoItem = $(elemento).parents('[item-id]');
            var itemId = $(linhaDoItem).attr('item-id');
            var novaQuantidade = $(linhaDoItem).find('input').val();

            return {
                IdItem: itemId,
                Quantidade: novaQuantidade
            };
        }

      function  postQuantidade(data) {

            let token = $('[name=__RequestVerificationToken]').val();

          $.ajax({
              url: '@Url.Action("UpdateQuantidade", "Home")',
              type: 'POST',
              dataType: 'json',
              data: { __RequestVerificationToken: token, Id: data.IdItem, Quant: data.Quantidade },
              success: function (data) {
                  let linhaDoItem = $('[item-id=' + data[1] + ']')
                  linhaDoItem.find('input').val(data[2]);
                  linhaDoItem.find('[subtotal]').html((data[0]));
                  $('[numero-itens]').html('Total: ' + data[3] + ' itens');
                  $('[total]').html((data[4]));

                  if (data[2] === 0) {
                      linhaDoItem.remove();
                  }
              },
              error: function (ex) {
                  alert('Erro.' + ex);
              }
          });
        }

    </script>
}
