@model business.Fragrancia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fragrancia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Produto.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produto.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroFragrancia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroFragrancia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescricaoFragrancia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescricaoFragrancia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdFragrancia }) |
    @Html.ActionLink("Back to List", "Index")
</p>
