@model business.Pedido

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Endereco.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorPedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datapedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datapedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>

@{
    foreach (var produto in Model.Produtos)
    {
        <p><label>Codigo do produto: </label> @produto.IdProduto</p>
        <p>
            <label>Imagem do produto: </label>
            <img src="@Url.Content(produto.Imagem)" alt="Image" style="width:100px;height:150px;max-width: 100%; height: auto;" />
        </p>
       <p><label>Preço da perfume: </label> @produto.Preco</p>
       
    }

                    <hr />

                    if (Model.Status != "Finalizado")
                    {
                        <div class="row">
                            <div class="col-md-2">
                                @Html.TextBox("txtCep", null, new { @class = "form-control", placeholder = "Digite o Cep" })
                            </div>
                            <div class="col-md-2">
                                <button id="btnsend" class="btn btn-success">Consultar frete</button>
                            </div>
                        </div>

                            <div class="row">
                                <div class="col-md-12" id="divValor">

                                </div>
                            </div>

                            @Html.ActionLink("Fazer a compra ", "Edit", "Pedido", new { id = Model.IdPedido }, null)
                    }



}


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdPedido }) |
    
</p>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {

            $("#btn_dados").click(function () {
                $("#Pedidos, #DadosPessoais").fadeOut("slow")
                $("#DadosPessoais").fadeIn("slow");

            });

            $("#btn_pedidos").click(function () {
                $("#Pedidos, #DadosPessoais").fadeOut("slow")
                $("#Pedidos").fadeIn("slow");
            });
        });

        $("#btnsend").click(function () {
            $.ajax({
                url: '@Url.Action("CorreiosCalc","Sales")',
                type: 'GET',
                contentType: 'application/json',
                data: { cep: $("#txtCep").val() },
                success: function (result) {
                    $("#divValor").html("<label> Valor do frete: R$ "
                        + result[0]
                        + "    Prazo de entrega " + result[1] + "</label> ")
                },
                error: function (xhr, exception) {
                    alert("Erro ao calcular prazo!")
                }
            });
        });

    </script>
}
