@model business.Cliente
@{
    ViewBag.Title = "IndexCliente";
}

<h2>IndexCliente</h2>

<h2>Area do Cliente</h2>

<a id="btn_dados" href="#" class="btn btn-danger">Dados Pessoais</a>
<a id="btn_pedidos" href="#" class="btn btn-success">Pedidos</a>

<div class="jumbotron">
    <div id="DadosPessoais" style="display:none;">
        <h1>Dados pessoais</h1>
        <p><label>Codigo do cliente: </label> @Model.IdCliente</p>
        <p><label>Nome: </label> @Model.FirstName</p>
        <p><label>Sobrenome: </label> @Model.LastName</p>
        <p><label>CPF: </label> @Model.Cpf</p>
        <p><label>Telefone: </label> @Model.Telefone.Fone</p>
        <p><label>Celular: </label> @Model.Telefone.Celular</p>
    </div>

    <div id="Pedidos" style="display:none;">

        <h1>Pedidos</h1>
        @{
            int i = 0;
            foreach (var pedido in Model.Pedidos)
            {
                i++;
                @Html.ActionLink("Pedido Nº " + i.ToString(), "Details", "Pedido", new { id = pedido.IdPedido }, new { @class = "btn btn-success" })
                <label>Status do pedido: </label>
                if (pedido.Status == "Nao finalizado")
                {
                    <label style="color:red">Pedido não finalizado</label>
                }
                else if (pedido.Status == "Finalizado")
                {
                    <label style="color:green">Pedido finalizado</label>
                    <a class="btn btn-danger" href="@Html.Action("Link", new {id = pedido.IdPedido })">Fazer pagamento</a>
                }
                <br />
            }

        }

    </div>

</div>



@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {

            $("#btn_dados").click(function () {
                $("#Pedidos, #DadosPessoais").fadeOut("slow")
                $("#DadosPessoais").fadeIn("slow");

            });

            $("#btn_pedidos").click(function () {
                $("#Pedidos, #DadosPessoais").fadeOut("slow")
                $("#Pedidos").fadeIn("slow");
            });
        });



    </script>
}